body {
	color: #000;
}

a {
	color: #000;
	text-decoration: underline;
}

header a,
header {
	color: #fff;
}

header input {
	color: #000;
}

a:hover {
	color: #000;
}

a.top-link {
	position: absolute;
	left: 200px;
	top: 40px;
}

.register a {
	position: absolute;
	left: 400px;
	top: 40px;
}

.register span {
	position: absolute;
	left: 380px;
	top: 43px;
}

.layout header {
	position: relative;
	padding: 10px 0;
	min-height: 110px;
	font-weight: bold;
}

.layout header div {
	float: left;
	height: 100%;
}

.layout header div.sign-in {
	max-width: 300px;
	padding: 0 20px;
}

.layout header div.sign-in label {
	min-width: 70px;
}

.layout header div.sign-in > form > div {
	margin: 2px 0;
}

.layout header div.sign-in > form > div > * {
	float: left;
}

.layout header div.sign-in > form > input {
	display: block;
	margin-bottom: 5px;
}

.layout .main {
	min-height: 460px;
}

.layout header > div:first-child {
	color: #fff;
	font-size: 25px;
	-moz-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	-o-transform: rotate(-25deg);
	position: absolute;
	left: 40px;
	top: 30px;
}

form table td {
	padding: 5px;
}

.main {
	margin-left: 100px;
}