body, html {
	height: 100%;
}

h1.big-title {
    text-align: center;
    font-size: 1000%;
    padding-top: 100px;
}

header h1 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	background-color: #eee;
}

.menu {
	overflow: auto;
}

.box > div {
	height: 500px;
}

.menu .emergency { background-color: #f0ad4e; }
.menu .recipes { background-color: #428bca; }
.menu .shop { background-color: #5cb85c; }
header.emergency { background-color: #f0ad4e; }
header.recipes { background-color: #428bca; }
header.shop { background-color: #5cb85c; }

.box a {
	display: inline-block;
	height: 100%;
	width: 100%;
	color: #000;
	line-height: 500px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.box a:hover {
	text-decoration: none;
	box-shadow: 1px 1px 12px #444;
}

footer {
	padding: 30px 0;
	text-align: center;
}

footer.emergency { border-top: 2px solid #f0ad4e; }
footer.recipes { border-top: 2px solid #428bca; }
footer.shop { border-top: 2px solid #5cb85c; }
